<html>
    <head>
    <meta charset="utf-8" />

     <style>
            @import url("css/styling.css");

     </style> 
     
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">   
    <title> Raul Sanchez: Personal Website </title>
   
   
    </head>

    <body>
        <header>
           
            <h1> The World of Java </h1>
        </header>

        <hr />
        <nav>
            <a href="/"> Home </a>
            <a href="/history"> History </a>
            <a href="/usage"> Important Usage </a>
            <a href="/tutorial"> Tips and Tricks </a>
            <a href="/contact"> Contact </a>
        </nav>