<!DOCTYPE html>
<%- include('partials/header.ejs') %>
          <br /><br />
        <main>

            <div class="b">
                <p><em><strong>The History of Java</strong><em></p>
                <p> <em>To start Java was initially intended for intuitive TV, yet it was too cutting edge innovation for the computerized digital media business at that point. The historical backdrop of Java begins with the Green Team. Java colleagues, started this undertaking to build up a language for computerized gadgets, for example, set-top boxes, TVs, and so forth Notwithstanding, it was appropriate for web programming. Afterward, Java innovation was consolidated by Netscape. The norms for making Java composing PC programs were "Direct, Robust, Portable, without platform, Secured, High Performance, Multithreaded, Architecture Neutral, Object-Oriented, Interpreted, and Dynamic". Java was made by James Gosling, who is known as the Father of Java, in 1995. James Gosling and his partners started the endeavor during the '90s.</em> </p>


                <p> The standard basic route to start a java program is to have it in the correct syntax as below </p>
                 <a href="https://techterms.com/definition/java"> History Information!</a>
                <img class="a" src="img/main.PNG">
                
             
                <br /> <br />
                
            </div>

        </main>
   

 <%- include('partials/footer.ejs') %>
   </body> 
</html>
