<!DOCTYPE html>
<html>

    <head>
    <meta charset="utf-8" />

     <style>
            @import url("css/styling.css");

        </style> 
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">   
    <title> Raul Sanchez: Personal Website </title>

    </head>
<!-- closing head -->

    <!-- This is the body -->
    <!-- This is where we place the content of our website -->
    <body>
        <header>
           
            <h1> The World of Java </h1>
        </header>

        <hr />
        <nav>
            <a href="/"> Home </a>
            <a href="/history"> History </a>
            <a href="/usage"> Important Usage </a>
            <a href="/tutorial"> Tips and Tricks </a>
            <a href="/contact"> Contact </a>
        </nav>
        
        
        <div class="a"> <img src="img/java.jpg"> 
                        Java is a class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible, 
                        explore this site to gain a better insight on what makes this programming language work and also finding the history of how this 
                        language camet to be!
                    	This site should help you gain a better insight on what Java is and how to become a better programming with some simple tips!</div>
        <a href="https://www.edureka.co/blog/what-is-java/">What is Java?</a>
        
      <%- include('partials/footer.ejs') %>
  </body> 
</html>