<!DOCTYPE html>
<html>
<%- include('partials/header.ejs') %>
    <hr>
        <p class="b">Java comes with many perks and abilities that can be run better than many other programming languages. Below are some strategies that will help you become a better programmer in the world of java!</p>
        <br />

        <p class="b"><Strong> Reading Documentation !</Strong></p>
        <p class="b">This is important as this allows you to be ahead of the game and learn new ideas and keeping yourself updated in the world of Java programming. This will also in term expand your knowledge and help you see different techniques in programming.</p>
        <p class="b"><Strong> Practice, Practice, Practice </Strong></p>
        <p class="b">A phrase that many of us have hear would be that, "Practice makes perfect!", this goes perfectly with programming as practicing your code will later enhance the way you can read, and write any of your programs. It is hard to know where to start, but starting with a simple program to understand the basics is the best way to get better. Many feel rushed to learn as much as they can in the quickest way possible, but becoming a great programmer takes time, and in that time accomplishing different projects regardless of size, is beneficial to the way your think and write your code.

        <img class="a" src="img/reading.jpg">
        <button type="button" onclick="alert('Make sure to always have you the basics clear of what you are programming. Understanding the basic concepts of a program are key to understanding how to build a new project. Learning to get the logic right and understanding why the code does what it does will develop you to becoming a better programmer in the long run! Take your time and relax and enjoy the journey of becoming a programmer ')">Click me for a hidden TIP!!!</button>
        <br />
        <a href="https://www.geeksforgeeks.org/how-do-i-become-a-good-java-programmer/">For More Tips and Tricks Click Here</a>
        
        
   <div>
    <%- include('partials/footer.ejs') %>
   </div>
     </body>  

</html>
