<!DOCTYPE html>
<%- include('partials/header.ejs') %>
        <hr>


        <p class ="b"> Java is utilized to construct applications and stages for various gadgets, including PCs, PCs, gaming comforts, Blu-beam players, vehicle route frameworks, clinical observing gadgets, leaving meters, lottery terminals and cell phones. It is additionally a critical language for systems administration, especially for server farms that store and move Web-based information.</p>


        <img class ="a" src="img/javaImg.png">

        <p class ="b"> In comparison to C and C++-based language, Java is object oriented and class-based. Engineers embrace and use Java since code can be run safely on almost some other stage, paying little mind to the working framework or design of the gadget, as long as the gadget has a Java Runtime Environment (JRE) introduced. The JRE shifts relying upon the particular sort of gadget, yet basically it runs a "virtual" machine, or climate, that makes an interpretation of the code into an application or program. Java has been tried, refined, expanded, and demonstrated by a committed network of Java designers, modelers and lovers. Notwithstanding birthplaces going back very nearly twenty years, Java has reliably developed throughout the long term. Java is intended to empower advancement of convenient, superior applications for the vastest scope of figuring stages conceivable, subsequently empowering the essential fundamentals of overall openness just as cross-stage collaboration. By making applications accessible across heterogeneous conditions, organizations can offer more types of assistance and lift end-client efficiency, correspondence, and cooperation—and significantly decrease the expense of responsibility for big business and shopper applications.</p>

        <p class ="b"> Some common steps to the process of building a java application are as follow: </p>

        <ol>
            <li>What is you end goal with your project? </li>
            <li>Can you do all the development process? </li>
            <li>Select your development tools.</li>
            <li>Complete a structure of project.</li>
            <li>Type all your task list to implement on your project & organize them by execution order.</li>
        </ol>

        <a href="https://javarevisited.blogspot.com/2014/12/where-does-java-used-in-real-world.html#axzz6chl4isxY"> Usages of Java!</a>

  
   <%- include('partials/footer.ejs') %>
  </body> 
</html>
